.projects {
    width: 100%;
    height: 100%;
}

.projects h2 {
    margin-bottom: 1.5rem;
}

.p_c {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-bottom: 1.5rem;
}

.p_cd {
    width: 100%;
    height: 250px;
    position: relative;
}

.h1 {
    color: red;
    width: 100%;
    top: 200px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.h1 button {
    width: 100px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.explore {
    display: flex;
    justify-content: flex-end;
}

.explore_link {
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #16e0bd;
}