.portfolio {
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

.port_p {
    width: 100%;
    height: 100%;
}

.port_p h2 {
    margin-bottom: 1.5rem;
}

.projects {
    width: 100%;
    height: 100%;
}

.projects_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.pr_c {
    width: 100%;
    height: 350px;
    border-radius: 15px;
}

.pr_img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 5px;
}

.pr_img img {
    width: 100%;
    height: 90%;
}

.pr_d {
    width: 100%;
    height: 40%;
    display: flex;
}

.pr_d_1 {
    width: 50%;
}

.pr_d_1:hover {
    background-color: orange;
}

.pr_d_2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pr_d_2:hover {
    background-color: aqua;
}